body{
    font-family: Barlow, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(51, 51, 51);
    font-size: 16px;
}

p{
    line-height: 1.5;
}

strong{
    font-weight: 700;
}

h1, h2, h3, h4, h5, h6{
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #32a883;
}

button{
    padding: 13px 35px;
    border-radius: 99px;
    border: none;
    background-color: #32a883;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}


button:hover{
    background-color:#208565;
}

.meta{
    font-size: 12px;
    font-weight: 500;
}

#habilidades{
    border-collapse: collapse;
    width: 70%;
    vertical-align: middle;
    height: 80px;
}

#habilidades td, th{
    border: 1px solid #32a88380;
    padding: 10px;
}